#REPLACE THIS FILE WITH YOUR COOKIES. JUST AN EXAMPLE
key-drop.com	FALSE	/	FALSE	_TIMESTAMPHERE_	__vioShield	_VALUEHERE_
key-drop.com	FALSE	/	FALSE	_TIMESTAMPHERE_	session_id	_VALUEHERE_
key-drop.com	FALSE	/	FALSE	_TIMESTAMPHERE_	key-lang	EN